* {
 user-select: none;
 margin: 0%;
 scroll-behavior: smooth;
}
body{
    background: linear-gradient(to left, #84AE92, #C49FB3);
    /* background: black; */
    background-size: 100% 100vh;
}
.heading4{
     width: auto;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* border: 1px solid black; */
    position: relative;
    border-bottom: 3px solid white;

}
.hed{
    font-size: 50px;
    font-family: 'High Tower Text';
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
    background: linear-gradient(to right, #da2121, #740553);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.con{
        display: flex;
        flex-direction: column;
        /* border: 2px solid; */
        width: 30%;
        position: absolute;
        /* margin: auto; */
        margin-top: 250px;
        left: 600px;
        padding: 70px;
        border-radius: 30px;
        backdrop-filter: blur(2px) brightness(110%);
}

.ego{
        font-size: large;
        padding: 10px;
        border-radius: 30px;
        margin-bottom: 20px;
        text-align: center;
        border: 2px solid white;
        color : white;
        background-color: transparent;
}
.ttn{
        padding: 10px;
        width: 50%;
        align-self: center;
        font-size: larger;
        border-radius: 30px;
        background: linear-gradient(to right,purple,orange);
        border: none;
        color: white;
        letter-spacing: 3px;
        transition: all 0.3s;
}
/* #ttn:hover{
        transform: scale(1.2);
} */
#ttn:active{
        transform: scale(0.8);
}

.fed{
    background: linear-gradient(to right, #4c0c0d, #230553);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    align-self: center;
    margin-bottom: 10px;
    font-size:35px;
    font-family: 'High Tower Text';
}
#msg{
    height: 100px;
}
.heading3{
    width: auto;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* border: 1px solid black; */
    position: relative;
    border-bottom: 3px solid white;

}
.beta1{
    position: absolute;
    top: 20px;
    align-self: center;
    font-size: 40px;
      background: linear-gradient(to right, #973133, #523a78);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}
.beta2{
    position: absolute;
    align-self: center;
    top: 90px;
    font-size: 50px;
    font-family:Engravers MT;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000;
}
.talent{
    position: relative;
    width: fit-content;
    gap: 10px;
    
   
}
.web{
    background: linear-gradient(to right, #835f87, #4D6957);
    box-shadow: 0px 4px 6px rgba(170, 24, 24, 0.15);
    position: absolute;
    border: 2px solid;
    border-radius: 30px;
    height: 600px;
    width: 550px;
    top: 200px;
    transition: all 0.5s linear;
    
}
.py{
    text-align: left;
    color: #1f1f1f;
    position: absolute;
    top: 130px;
    left: 10px;
    font-size: 40px;
    transition: all 0.5s ;

}
.ty{
        background: linear-gradient(to right, #4c0c0d, #230553);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 30px;
    left: 110px;
}
.dev{
    align-self: flex-start;
    position: absolute;
    left: 20px;
    
}
.des{
    align-self: flex-start;
    position: absolute;
    left: 650px;
    
}
.mng{
    align-self: flex-start;
    position: absolute;
    left: 1300px;
    

}
.py:hover{
    color:  #dcc6c6;
}
.web:hover{
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(170, 24, 24, 0.15);
    background: linear-gradient(to right, #835f87, #4D6957);
    border: 4px dashed #06200f ;
    
}

.heading2{
    width: auto;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid black; */
    position: relative;
    border-bottom: 3px solid white;
}
.dec1{
    width: fit-content;
}
.abt{
    background-color:linear-gradient( #ff6b6c, #adb2d3); 
    font-size: 50px;
    font-family:Engravers MT ;
    position: absolute;
    text-align: center;
    padding: 15px;
    top: 20px;
    left: 825px;
    border: 2px solid gray;
    border-radius: 30px;
    backdrop-filter: blur(15px) brightness(90%);
    transition: all 0.5s linear;
}
.abt:hover{
    background: linear-gradient(to right, #721a1b, #2b1b45);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(0px, -5px);
    box-shadow: 0px 4px 6px #2c6d62;
}
.dec2{
    width:1700px;
    height: 500px;
    border: 2px solid gray;
    border-radius: 30px;
    position: absolute;
    top: 150px;
     transition: all 0.5s linear;
}
.self{
    position: absolute;
    top: 40px;
    left: 20px;
    font-size: 35px;
    background: linear-gradient(to right, #973133, #523a78);
    background-clip: text;
    -webkit-text-fill-color: transparent;
   
}
.dec2:hover{
    border: 2px dotted white;
    background: linear-gradient(to top, #46080a, #220e42);
    border-radius: 10px;
    color: rgb(37, 156, 116);
    transform: scale(1.05);
    box-shadow: 0px 4px 6px #2c6d62;
}
.container {
    display: flex;
    position: relative;
    margin-top:700px ;
    gap: 40px;
    justify-content: center;
      
}
.item{
    border: 2px solid transparent;
    width: 200px;
    text-align: center;
    background: transparent;
      background: linear-gradient(to right, #973133, #523a78);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 4px 6px #0f332d;
    transition: all 0.5s;}
.item:hover{
          background: linear-gradient(to right, #973133, #523a78);
    background-clip: text;
    -webkit-text-fill-color: transparent;
        box-shadow: 0px 6px 10px #1f4f46;
        color: #ffffff;
        transform:  scale(1.1);
    }
.dec3{
    width:fit-content;
    position: absolute;
    display: flex;
    top: 900px;
    gap: 80px;
    }
.cnt{
        padding: 10px;
        width: auto;
        align-self: center;
        font-size: 30px;
        border-radius: 30px;
        background: linear-gradient(to right, #973133, #523a78);
        border: none;
        color: white;
        letter-spacing: 3px;
        transition: all 0.3s linear;
}
.cnt:active{
        transform: scale(0.8);
}
.res{
        padding: 10px;
        width: auto;
        align-self: center;
        font-size: 30px;
        border-radius: 30px;
        background: linear-gradient(to right,#523a78, #973133);
        border: none;
        color: white;
        letter-spacing: 3px;
        transition: all 0.3s;
}
.res:hover{
    transform: scale(1.1);
}
.res:active{
        transform: scale(0.8);
}
.heading1{
    width: auto;
    height: 600px;
    /* border: 1px solid black; */
    position: relative;
    border-bottom: 3px solid white;
    
}
.hecta1{
    font-size: 60px;
    
    font-family: monospace;
    position: absolute;
    top: 0px;
    left: 30px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 1s steps(20) ;
}
.im{
    font-size: 50px;
    position: absolute;
    letter-spacing: 3px;
    top: 110px;
    left: 30px ;
    background: black;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation: typing 3s steps(20) ; */
}
.skills{
    font-size: 50px;
    position: absolute;
    top: 100px;
    left: 190px;
    display: inline-block;
    color:  #9320d9 ;
    font-family: Lucida Handwriting;
    letter-spacing: 3px;
    height: 1.25em;
    vertical-align: bottom;
    overflow: hidden;
}
h1> span > span {
    display: block;
    animation: anim 5s infinite ease;
}
@keyframes anim{
    0%{transform: translateY(0%)}
    25%{transform: translateY(-100%)}
    50%{transform: translateY(-200%)}
    75%{transform: translateY(-300%)}
    100%{transform: translateY(-400%)}
}
.hecta2{
    font-size: 40px;
    
    font-family: monospace;
    position: absolute;
    top: 125px;
    left: 33px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(20) ;
}
.hecta3{
    font-size: 35px;
    
    font-family: monospace;
    position: absolute;
    top: 230px;
    left: 32px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 2s steps(300) ;
  
}
.hecta4{
    font-size: 35px;
    
    font-family: monospace;
    position: absolute;
    top: 280px;
    left: 32px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 3s steps(300) ;
}
.hecta5{
    font-size: 35px;
    
    font-family: monospace;
    position: absolute;
    top: 330px;
    left: 32px;
    text-wrap: nowrap;
    overflow: hidden;
    animation: typing 4s steps(300) ;
}
@keyframes typing {
    from {
        width: 0ch;
    }
    to {
        width: 30ch;
    }
}
.hero-img {
    width: 500px;
    height: 400px;
    display: flex;
    position: absolute;
    top: 20px;
    left: 1000px;
   
}
.button1{
    width: fit-content;
    cursor: pointer;
    font-size: 40px;
    height: 40px;
    padding: 7px;
    position: absolute;
    left: 30px;
    bottom: 80px;
    background-color: #3e8e7e;
    color: #ffffff;
    border-radius: 10PX;
    box-shadow: 0px 4px 6px #2c6d62;
    transition: all 0.5s ;
}
.button1:hover{
    background: linear-gradient(to right, #973133, #523a78);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: 0px 6px 10px #1f4f46;
    color: #ffffff;
    transform: translate(5px 5px);
    
}
.nav{
    border-bottom: 0.5px solid black;
    color: black;
    display: flex;
    width: 100%;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0px;
    z-index: 2;
}
.logo{
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    width: fit-content;
}
.img {
    width: 150px;
    height: 100px;
    margin-top: 25px;
   
    
}
.brand{
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'consolas';
    word-spacing: 5px;
    letter-spacing:2px;
}
.navbtn{
    /* border: 2px solid blue; */
    display: flex;
    width: 1100px;
    cursor: pointer;
    align-items: centre;
    justify-content: flex-end;
    font-family: 'consolas';
    font-size: 35px;
    letter-spacing: 5px;
    gap:50px;
    margin-top: 40px;
}
.home{
    color:white;
}
.btn{
    transition: all 0.5s ;
}
.btn:hover{
       background: linear-gradient(to right, #973133, #523a78);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: translate(0px, -5px);
    
}
